---
# this is an empty front matter
---
{% include header.html lang="en" %}
{% include zrzutka.txt %}
{% include next_meeting.txt %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">We're building a <a href="https://en.m.wikipedia.org/wiki/Hackerspace">Hackerspace</a> in Łódź. We're looking for people.</h1>

    <div class="alert alert-danger" style="text-shadow: none !important">
    📅 <strong>Next meeting:</strong> February {{ next_meeting }} (Tuesday). See you at 17:00 in Centrum Opus (Narutowicza 8/10 street). We're starting early, but it's OK if you arrive later :)
       (see more info at <u><a class="text-danger" href="https://www.meetup.com/Hakierspejs-%C5%81od%C5%BA/events/268327310/">meetup.com</a></u>)
    </div>

    <div class="alert alert-info" style="text-shadow: none !important">
        💉💰 <strong>We're raising money for:</strong> paying for meetup.com account. <u><a class="text-primary" href="https://lists.hackerspace.pl/pipermail/lodz/2020-February/subject.html">(INFO)</a></u>
        <div class="progress" style="margin: 5px">
          <div class="progress-bar" role="progressbar" style="width: {{ zrzutka_procent }}%" aria-valuenow="{{ zrzutka_procent }}" aria-valuemin="0"
            aria-valuemax="100">{{ zrzutka_aktualnie }}/{{ zrzutka_cel }} PLN ({{ zrzutka_procent }}%) (as of Feb {{ zrzutka_ostatnia_aktualizacja }}, 2020)</div>
        </div>
        Suggested donation: 10-15 PLN (equivalent of a beer or a coffee in a cafe). Please wire money to: PL55 1140 2004 0000 3002 7656 1893.
    </div>

    <p class="lead">We communicate entirely through our chat and a discussion group. If you want to join or find out more, click the link below:</p>
    <p class="lead">
      <a href="https://t.me/joinchat/K73_2BVhRxP6nb4I81YIPQ" class="btn btn-lg btn-secondary">💬 Chat with us on Telegram</a>
        <hr />
      <a href="https://lists.hackerspace.pl/mailman/listinfo/lodz" class="btn btn-lg btn-secondary">📧 Join our mailing list</a>
    </p>
  </main>
{% include footer.html %}
