---
# this is an empty front matter
---
{% include header.html lang=en %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">We're building a <a href="https://en.m.wikipedia.org/wiki/Hackerspace">Hackerspace</a> in Łódź. We're looking for people.</h1>
    <p class="lead">We communicate entirely through our chat and a discussion group. If you want to join or find out more, click the link below:</p>
    <p class="lead">
      <a href="https://t.me/joinchat/K73_2BVhRxP6nb4I81YIPQ" class="btn btn-lg btn-secondary">💬 Chat with us on Telegram</a>
        <hr />
      <a href="https://lists.hackerspace.pl/mailman/listinfo/lodz" class="btn btn-lg btn-secondary">📧 Join our mailing list</a>
    </p>
  </main>
{% include footer.html %}
