---
# this is an empty front matter
---
{% include zrzutka.txt %}
{% include next_meeting.txt %}

<!doctype html>
<html lang="{{ include.lang }}">
<head>

  {% include head.html %}

</head>
<html class="h-100">
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      {% include header.html lang="en" %}

      <main role="main" class="px-3">
        <h3 class="p-2 m-2">
          <p>
            We're building a <a id="haker-link" href="https://pl.m.wikipedia.org/wiki/Hackerspace">Hackerspace</a> in Lodz. We're looking for people.
          </p>
        </h1>

        <div class="alert alert-danger" style="text-shadow: none !important">
        📅 <strong>Next meeting:</strong> February {{ next_meeting }} (Tuesday). See you at 17:00 in Centrum Opus (Narutowicza 8/10 street).
           <hr/>We're starting early, but it's OK if you arrive later :)
           (see more info at <u><a class="text-danger" href="{{ next_meeting_url }}">meetup.com</a></u>)
        </div>

        <div class="alert alert-dark" style="text-shadow: none !important">
          💉💰 <strong>We're raising money for:</strong> paying for meetup.com account. <u><a class="text-primary" href="https://lists.hackerspace.pl/pipermail/lodz/2020-February/subject.html">(INFO)</a></u>
        <div class="progress" style="margin: 5px">
          <div class="progress-bar" role="progressbar" style="width: {{ zrzutka_procent }}%" aria-valuenow="{{ zrzutka_procent }}" aria-valuemin="0" aria-valuemax="100">
            {{ zrzutka_aktualnie }}/{{ zrzutka_cel }} PLN ({{ zrzutka_procent }}%) (as of Feb {{ zrzutka_ostatnia_aktualizacja }}, 2020)
          </div>
        </div>
        <hr/>Suggested donation: 10-15 PLN (equivalent of a beer or a coffee in a cafe).
        <hr/>Please wire money to: PL55 1140 2004 0000 3002 7656 1893.
        </div>

        <p class="lead">
          We communicate entirely through our chat and a discussion group. If you want to join or find out more, click the link below:
        </p>
        <p class="lead">
          <div class="container p-1 m-2">
            <a href="https://t.me/joinchat/K73_2BVhRxP6nb4I81YIPQ" class="btn btn-lg btn-light" role="button">
              💬 Chat with us on Telegram
            </a>
          </div>
          <div class="container p-1 m-2">
            <a href="https://lists.hackerspace.pl/mailman/listinfo/lodz" class="btn btn-lg btn-light" role="button">
              📧 Join our mailing list
            </a>
          </div>
        </p>
      </main>

      {% include footer.html %}

    </div>
  </body>
</html>
