---
# this is an empty front matter
---
{% include header.html lang="manifesto" %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Jesteśmy bezpieczną strefą.</h1>

    <p class="lead">
        W Hakierspejsie można spotkać wiele różnych osób. Różnice dotyczą nie
        tylko naszych preferencji technologicznych ani poglądów w ogóle, ale
        także tego jacy się urodziliśmy: na przykład naszej płci, stanu
        zdrowia, orientacji seksualnej czy kraju, w którym się urodziliśmy.

    </p>

    <p class="lead">
        Ta różnorodność sprawia, że dzięki różnym perspektywom i współpracy
        potrafimy rozwiązać wiele problemów. Jednocześnie, jako, że
        wiele ze wspomnianych cech nie jest naszym wyborem, a wręcz jest poza
        naszą kontrolą, mogą one być czułym punktem, dlatego <em>bardzo ważne
        jest żebyśmy się nawzajem szanowali.</em>
    </p>

    <p class="lead">
        Hakierspejs jako organizacja nie zajmuje stanowiska na politycznym
        spektrum i przynależą do nas osoby o różnych poglądach. Ten manifest
        ma na celu nie indoktrynację, a stworzenie przestrzeni wolnej od
        uprzedzeń. Pamiętaj jednak, żeby dyskutując z drugą stroną upewnić się,
        że czuje się z tym OK oraz faktycznie spróbować ją zrozumieć. Im
        bardziej delikatny jest temat, tym więcej ostrożności i empatii on
        wymaga. Nie stosuj agresji, w tym biernej i nie odpowiadaj na nią
        bezpośrednio.
    </p>

    <p class="lead">
        Jeżeli zauważysz niewłaściwe zachowanie: zgłoś to, a spróbujemy
        rozwiązać problem. Zależnie od sytuacji, bierzemy pod uwagę: zwrócenie
        uwagi, wyjaśnienie sprawy oraz prośbę o zmianę zachowania lub -
        jeżeli to nie wystarczy - zawieszenie lub usunięcie danej osoby z
        grona członków. Nie nadużywamy jednak tych środków: do tej pory
        szczera rozmowa zawsze wystarczyła i mamy nadzieję, że tak pozostanie.
    </p>

    <p class="lead">
        Mówiąc krótko: "be excellent to each other" ❤.
    </p>

  </main>
{% include footer.html %}
