---
# this is an empty front matter
---
{% include header.html lang="manifesto" %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Bądźmy życzliwi ❤</h1>

    <p class="lead">
        Hakierspejs to organizacja skupiająca przede wszystkim pasjonatów technologii 
        oraz przestrzeń tworzona przez nich dla nich. Wszyscy jednak jesteśmy ludźmi,
        a to oznacza, że różnimy się między sobą. Różnice te dotyczą między innymi naszych poglądów
        oraz preferencji w zakresie technologii, ale także naszych wrodzonych cech, takich jak na przykład
        płeć, stan zdrowia, orientacja seksualna czy kraj pochodzenia.
    </p>

    <p class="lead">
        Te różnice uważamy za naszą siłę. Dzięki różnym perspektywom i współpracy
        potrafimy rozwiązywać różne problemy. Dlatego zależy nam na tym, by Hakierspejs był przestrzenią,
        w której każdy, bez względu na swoje cechy, na które w wielu przypadkach nie mamy wpływu,
        może czuć się pewnie i bezpiecznie.
    </p>

    <p class="lead">
        W związku z tym nie zgadzamy się na obrażanie, szydzenie czy żartowanie z innych osób,
        a także na wszelkie inne formy dyskryminacji – z powodu wrodzonych cech, ze względu na poglądy,
        czy też na przynależność do różnych grup i społeczności. W szczególności dotyczy to tych cech, na
        które nie mamy wpływu, a także grup i społeczności, których zjawisko dyskryminacji często dotyka.
        Zasada ta obowiązuje we wszystkich kanałach komunikacji Hakierspejsu, a także fizycznie w naszej
        siedzibie oraz na organizowanych przez nas wydarzeniach. <em>Szanujmy siebie nawzajem!</em>
    </p>

    <p class="lead">
        Pamiętaj, żeby dyskutując z drugą stroną upewnić się, że czuje się z tym OK oraz faktycznie
        spróbować ją zrozumieć. Im bardziej delikatny jest temat, tym więcej ostrożności i empatii
        on wymaga. Nie stosuj agresji, w tym biernej i nie odpowiadaj na nią bezpośrednio. Jeśli masz wątpliwości,
        czy coś jest okej wobec innych, czy też nie – najpierw zapytaj.
    </p>

    <p class="lead">
        Jeśli uważasz, że czyjeś zachowanie w Hakierspejsie lub na naszych kanałach komunikacji cię krzywdzi,
        lub też sprawia, że czujesz się zagrożony, daj znać zarządowi osobiście lub anonimowo. 
        To samo dotyczy sytuacji, w której widzisz, że dotyka to kogoś innego. Na pewno pomożemy.
        Najważniejsze jest dla nas to, żeby każda osoba czuła się dobrze.
    </p>

    <p class="lead">
        Mówiąc krótko: "be excellent to each other" ❤.
    </p>

  </main>
{% include footer.html %}
