---
# this is an empty front matter
---
{% include header.html lang="manifesto" %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Bądźmy życzliwi ❤</h1>

    <p class="lead">
        Hakierspejs to organizacja skupiająca przede wszystkim pasjonatów technologii 
        oraz przestrzeń tworzona przez nich dla nich. Wszyscy jednak jesteśmy ludźmi,
        a to oznacza, że różnimy się między sobą. Różnice te dotyczą między innymi naszych poglądów
        oraz preferencji w zakresie technologii, ale także naszych wrodzonych cech, takich jak na przykład
        płeć, stan zdrowia, orientacja seksualna czy kraj pochodzenia.
    </p>

    <p class="lead">
        Ta różnorodność sprawia, że dzięki różnym perspektywom i współpracy
        potrafimy rozwiązać wiele problemów. Jednocześnie, jako, że
        wiele ze wspomnianych cech nie jest naszym wyborem, a wręcz jest poza
        naszą kontrolą, mogą one być czułym punktem, dlatego <em>bardzo ważne
        jest żebyśmy się nawzajem szanowali.</em>
    </p>

    <p class="lead">
        Pamiętaj, żeby dyskutując z drugą stroną upewnić się, że czuje się z tym OK oraz faktycznie
        spróbować ją zrozumieć. Im bardziej delikatny jest temat, tym więcej ostrożności i empatii
        on wymaga. Nie stosuj agresji, w tym biernej i nie odpowiadaj na nią bezpośrednio.
    </p>

    <p class="lead">
      Jeżeli zauważysz niewłaściwe zachowanie lub poczujesz się zagrożony daj znać zarządowi
      osobiście lub anonimowo. Załatwimy to. Najważniejsze jest dla nas to, żeby każda 
      osoba czuła się dobrze.
    </p>

    <p class="lead">
        Mówiąc krótko: "be excellent to each other" ❤.
    </p>

  </main>
{% include footer.html %}
