---
title: Więcej
layout: default
---
<style>
ul li {
  color: var(--dark-color);
}
</style>
<ul>
  <li>{% include icons/wallet.html size="16" %}<a href="{{ "/skladki.html" | relative_url }}">Składki</a></li>
  <li>{% include icons/diagram.html %}<a href="//github.com/hakierspejs" title="przenosi na inną stronę - repozytorium kodu stowarzyszenia">Git</a></li>
  <li>{% include icons/book.html %}<a href="//github.com/hakierspejs/wiki/wiki" title="przenosi na inną stronę - wiki towarzyszenia">Wiki</a></li>
</ul>
