---
title: Składki
layout: default
---
<article>
  {% include dues.txt %}
  <h2>{% include icons/wallet.html size="16" %}Składki</h2>
  <p>Aby funkcjonować i móc rozwijać się, Stowarzyszenie Hakierspejs Łódź potrzebuje pieniędzy. Finansujemy się oddolnie: większość przychodu stanowią składki członkowskie, w drugiej kolejności darowizny na cele statutowe. Nasze główne wydatki to: utrzymanie siedziby (czynsz i opłaty) oraz wyposażenie lokalu.</p>
  <p>
    Stan według {% include date.txt time_arg=site.data.dues.dues_last_updated no_hour=true no_weekday=true end=":" lang="pl" %}
    <b>{{ site.data.dues.dues_total_lastmonth | round: 2 }} / {{ site.data.dues.dues_monthly_goal }} PLN</b>
  </p>
  <progress value="{{ site.data.dues.dues_total_lastmonth }}" max="{{ site.data.dues.dues_monthly_goal }}"></progress>

  <p>
  W ciągu ostatnich 30 dni zebraliśmy {{ dues_percent | round }}% miesięcznego celu. Łącznie: <b>{{ dues_reserved | round: 2 }} PLN</b> środki zarezerwowane oraz <b>{{ dues_total_unreserved | round: 2 }} PLN</b> środki wolne.
  </p>
  <p>
  Zalecana składka: <b>100 PLN</b> (wpłaciło {{ site.data.dues.dues_num_subscribers }} osób).
  </p>
  <p>Numer konta: <b>56 1140 2004 0000 3902 8108 9394 (mBank)</b>.</p>

  <p><b>WAŻNE</b>: w tytule przelewu napisz "darowizna na cele statutowe" (chyba że jesteś członkiem stowarzyszenia, wtedy: "twój nick - składka członkowska - pełna 1 miesiąc"). <a href="https://github.com/hakierspejs/wiki/wiki/Finanse#sk%C5%82adki" title="przenosi na inną stronę - wiki stowarzyszenia, artykuł finanse, sekcja składki">Więcej info.</a></p>

  <p>Szczegółowy opis finansów Hakierspejsu łódzkiego <a href="{{ "/finanse.html" | relative_url }}" title="przenosi na inną stronę - dane finansowe stowarzyszenia">tutaj</a>.</p>
</article>
