  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p style="font-style: italic">© Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>,
      by <a href="https://twitter.com/mdo">@mdo</a>.
        Website hosted with <a href="https://github.com/hakierspejs/homepage">Github Pages</a>.
    </p>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous">
</body>
</html>
