<header class="mb-auto">
  <div>
    <h3 class="float-md-left mb-0">
      <img src="logo.svg" style="height: 3rem; margin-right: 5px" alt="Hakierspejs - Logo" />
      Hakierspejs Łódź
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-right">
      <a class="nav-link{% if include.lang == "pl" %} active{% endif %}" href="index.html">🇵🇱 [PL]</a>
      <a class="nav-link{% if include.lang == "en" %} active{% endif %}" href="en.html">🇬🇧 /🇺🇸 / 🇮🇪 [EN]</a>
    </nav>
  </div>
</header>
