<div class="logo-header">
  <div class="logo">
    <a href="/"><img src="{{ "/assets/logo.svg" | relative_url }}" alt="unicorn hackerspace logo"></a>
  </div>
  <div class="header-title">
    <h1>Hakierspejs Łódź 🦄</h1>
    <p>{% t header.subtitle %}</p>
  </div>
  <div class="language-selector">
    {% if site.lang == "pl" %}
      <div class="flag-pl"></div>
      {% capture link %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
      <a href="{{ link }}" class="flag-gb"></a>
    {% elsif site.lang == "en" %}
      {% capture link2 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
      <a href="{{ link2 }}" class="flag-pl"></a>
      <div class="flag-gb"></div>
    {% endif %}
  </div>
</div>
<nav>
  <ul>
    <li>
      {% include icons/people.html %}
      <a href="{{ "/index.html" | | prepend: site.baseurl }}">{% t titles.about %}</a>
    </li>
    <li>
      {% include icons/guilds.html %}
      <a href="{{ "/guilds.html" | | prepend: site.baseurl }}">{% t titles.guilds %}</a>
    </li>
	  <li>
      {% include icons/faq.html %}
      <a href="{{ "/faq.html" | | prepend: site.baseurl }}">{% t titles.faq %}</a>
    </li>
    <li>
      {% include icons/person-circle.html %}
      <a href="{{ "/apply.html" | | prepend: site.baseurl }}">{% t titles.sign-up %}</a>
    </li>
    <li>
      {% include icons/building.html %}
      <a href="{{ "/ourvalues.html" | | prepend: site.baseurl }}">{% t titles.values %}</a>
    </li>
    <li>
      {% include icons/more.html %}
      <a href="{{ "/more" | | prepend: site.baseurl }}">{% t titles.more %}</a>
    </li>
  </ul>
</nav>
