<!doctype html>
<html lang="{{ include.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Hakierspejs Łódź</title>
    <link rel="canonical" href="https://lodz.hackerspace.pl/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">
        <img src="logo-czarne-przezroczyste-tlo-brak-dolnego-napisu.svg" style="height: 3rem; margin-right: 5px" alt="Hakierspejs - Logo" />
        Hakierspejs Łódź
      </h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link{% if include.lang == "pl" %} active{% endif %}" href="index.html">🇵🇱 [PL]</a>
        <a class="nav-link{% if include.lang == "en" %} active{% endif %}" href="en.html">🇬🇧 /🇺🇸 / 🇮🇪 [EN]</a>
      </nav>
    </div>
  </header>
