<meta charset="UTF-8">
<link rel="stylesheet" href="assets/styles/awsm.min.css">
<link rel="stylesheet" href="assets/styles/custom.css">
<link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" href="/logo.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.title }} | {{ page.title }}</title>

<!-- jQuery 1.8 or later, 33 KB -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
