<iframe
    onload="this.width=screen.width;"
    height="450"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    title="mapa wskazująca adres Hakierspejsu - ulica Zielona 30 w Łodzi"
    src="https://www.openstreetmap.org/export/embed.html?bbox=19.44251507520676%2C51.768455699876846%2C19.44776147603989%2C51.7705653336433&amp;layer=mapnik&amp;marker=51.76951135899629%2C19.44513827562332"
    style="border: 1px solid white; max-width: 100%; filter: invert(1) hue-rotate(220deg);"
    >
</iframe>
