@charset "UTF-8";

:root {
  --bg-color: #000000;
  --fg-color: #003300;
  --light-color: #00ff00;
  --dark-color: #00cc00;.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
  --border-color: #339900;
}

html {
  background: var(--bg-color);
  /* font-family: monospace; */
}

a {
  color: var(--light-color);
}
a:visited {
  color: var(--dark-color);
}
a:visited:hover {
  color: var(--light-color);
}
a, nav a:visited {
  color: var(--dark-color);
}

.button {
  outline:none;
  box-sizing:border-box;
  height:2em;
  margin:0;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid var(--border-color);
  border-radius:2px;
  background:black;
  display:inline-block;
  width:auto;
  background: var(--fg-color);
  cursor:pointer;
}
.button:focus{
  border:1px solid white;
}
.button:not([disabled]):hover{
  border:1px solid white;
}
.button:active{
  background-color:#777777;
}

progress {
  display: block;
  border:1px solid var(--border-color);
  width: 100%;
}
/* Determinate: */
progress[value] {
  background: var(--bg-color);
}
progress[value]::-webkit-progress-bar {
}
progress[value]::-webkit-progress-value {
}
progress[value]::-moz-progress-bar {
  background: var(--dark-color);
}
/* Indeterminate: */
progress:not([value]) {
}
progress:not([value])::-webkit-progress-bar {
}
progress:not([value])::-webkit-progress-value {
}
progress:not([value])::-moz-progress-bar {
  background: var(--dark-color);
}

.logo-header {
  display: flex;
  justify-content: flex-start;
}

.logo {
  align-self: flex-end;
  max-width: 5em;
  max-height: 5em;
  padding-left:: 0.25em;
}

.header-title {
  align-self: flex-end;
}

.bi {
  padding-right: 0.1em;
  box-sizing: border-box;
  display: inline-block;
  width: 1em;
  height: 1em;
}

nav ul li .bi {
  color: var(--dark-color);
}

/*
 * #isitopen is a container for message that is shown
 * when there are people hacking physically in the hackerspace.
 */
#isitopen {
  margin-top: 1em;
  padding: calc(.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border:1px solid var(--border-color);
  background: var(--fg-color);
  color: var(--light-color);
}

#isitopen:hover {
  border-color: white;
  color: var(--dark-color);
}

#isitopen h2 {
  margin-top: 0.25em;
}

#isitopen p {
  margin-bottom: 0.25em;
}

/* only visible to site readers */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body > footer {
  color: #777777;
}
