@charset "UTF-8";

:root {
  --bg-color: #000000;
  --fg-color: #003300;
  --light-color: #00ff00;
  --dark-color: #00cc00;
  --border-color: #339900;
}

html {
  background: var(--bg-color);
  /* font-family: monospace; */
}

a {
  color: var(--light-color);
}
a:visited {
  color: var(--dark-color);
}
a:visited:hover {
  color: var(--light-color);
}
a, nav a:visited {
  color: var(--dark-color);
}

.button {
  outline:none;
  box-sizing:border-box;
  height:2em;
  margin:0;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid var(--border-color);
  border-radius:2px;
  background:black;
  display:inline-block;
  width:auto;
  background: var(--fg-color);
  cursor:pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
.button:focus{
  border:1px solid white;
}
.button:not([disabled]):hover{
  border:1px solid white;
}
.button:active{
  background-color:#777777;
}

progress {
  display: block;
  border:1px solid var(--border-color);
  width: 100%;
}
/* Determinate: */
progress[value] {
  background: var(--bg-color);
}
progress[value]::-webkit-progress-bar {
}
progress[value]::-webkit-progress-value {
}
progress[value]::-moz-progress-bar {
  background: var(--dark-color);
}
/* Indeterminate: */
progress:not([value]) {
}
progress:not([value])::-webkit-progress-bar {
}
progress:not([value])::-webkit-progress-value {
}
progress:not([value])::-moz-progress-bar {
  background: var(--dark-color);
}

.logo-header {
  display: flex;
  justify-content: flex-start;
}

.logo {
  align-self: flex-end;
  max-width: 5em;
  max-height: 5em;
  padding-left:: 0.25em;
}

.header-title {
  align-self: flex-end;
}

.bi {
  padding-right: 0.1em;
  box-sizing: border-box;
  display: inline-block;
  width: 1em;
  height: 1em;
}

nav ul li .bi {
  color: var(--dark-color);
}

/* Horizontal navigation on big screens. */
nav ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Vertical navigation on small screen like smartphones */
@media only screen and (max-width: 500px) {
  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  nav ul li {
    outline:none;
    box-sizing:border-box;
    height:2em;
    margin: 5px;
    padding:calc(.25em - 1px) 0.5em;
    font-family:inherit;
    font-size:1em;
    border:1px solid var(--border-color);
    border-radius:2px;
    background:black;
    display:inline-block;
    width:auto;
    background: var(--fg-color);
    cursor:pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
  }

  nav li:last-child {
    margin-right: 5px;
  }
}

.fotorama {
  margin-top: 0.5em;
}

/*
 * #isitopen is a container for message that is shown
 * when there are people hacking physically in the hackerspace.
 */
#isitopen {
  margin-top: 1em;
  padding: calc(.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border:1px solid var(--border-color);
  background: var(--fg-color);
  color: var(--light-color);
}

#isitopen:hover {
  border-color: white;
  color: var(--dark-color);
}

#isitopen h2 {
  margin-top: 0.25em;
}

#isitopen p {
  margin-bottom: 0.25em;
}

/* only visible to site readers */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body > footer {
  color: #777777;
}

a.blog-image-link { 
  margin: 0 10%;
  height: 100%;
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 3px #000, 0 0 15px #000, 0 0 25px #FFF;
  font-size: calc(0.8em + 1vw);
  padding: 8ex 0;
  font-weight: bold;
}
a.blog-image-link:hover { 
  color: black;
  text-shadow: 0 0 3px #FFF, 0 0 15px #FFF, 0 0 25px #000;
}

p {
  margin: 1em 0;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}
