{% include dues.txt %}
<head>
<title>Finanse HSŁ - dashboard</title>
<meta charset="UTF-8" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script>
    function plot (domId, conf, data) {
        return Plotly.newPlot(domId, data, conf);
    }
    function pokazWiecej() {
        document.getElementById("ukryjMnie").style.display = "none";
        document.getElementById("ukryte").style.display = "block";
    }
</script>
<style>
body {
    font-family: 'Arial';
    font-size: 16pt;
}
#main {
    width: 900px;
    margin: auto;
}
table {
    margin-top: 20px;
}
caption {
    font-size: 24pt;
    text-align: left;
}
table, th, td {
    border: 1px solid #bcbcbc;
    border-collapse: collapse;
}
td.name {
    width: 600px;
}
td.value {
    width: 300px;
    text-align: right;
}
thead {
    background-color: #62B5FF;
    color: white;
}
.negative {
    color: #B2140C;
}
</style>
</head>
<div id="main">
<div id="plot-main" style="width:100%;height:300px;"></div>
<script>
    plot('plot-main', {
        legend: {orientation: 'h'},
        margin: {l: 50, r: 0, b: 25, t: 25, pad: 4}
    }, [
        {% for kategoria in site.data.dues.by_period %}
        {% if kategoria[0] == 'Saldo' %}
            {% continue %}
        {% endif %}
        {
            name: '{{ kategoria[0] }}',
            mode: 'scatter',
            x: [{% for miesiac in kategoria[1][page.period] %}{% if forloop.first %}{% else %}, {% endif %} "{{ miesiac[0] }}" {% endfor %}] ,
            y: [
                {% for miesiac in kategoria[1][page.period] %}
                    {% if forloop.first %}{% else %}, {% endif %}
                        {% assign suma=0 %}
                        {% for podkategoria in miesiac[1] %}
                            {% assign suma=suma | plus: podkategoria[1] %}
                        {% endfor %}
                        "{{ suma }}"
                {% endfor %}
            ] ,
            line: {width: 0},
            fill: 'tozeroy'
        }, 
        {% endfor %}
    ]);
</script>

<table>
    <caption>
        Aktualna "poduszka finansowa" (na {{ site.data.dues_config.obligations_reserve_months }} mies)
    </caption>
    <thead>
        <tr>
            <th>NAZWA</th>
            <th>MIESIĘCZNIE</th>
        </tr>
    </thead>
    <tbody>
    {% assign dues_reserved_obligations_total_monthly = 0 %}
    {% for obligation in site.data.dues_config.obligations %}
        <tr>
            {% assign current_obligation = obligation[1].amount_pln |divided_by:  obligation[1].every_months %}
            <td class="name">{{ obligation[0] }}</td>
            <td class="value">{{ current_obligation|round: 2 }} zł</td>
            {% assign dues_reserved_obligations_total_monthly = dues_reserved_obligations_total_monthly| plus: current_obligation %}
        </tr>
    {% endfor %}

        <tr style="font-weight: bold">
            <td class="name"><strong>Cykliczne razem x {{ site.data.dues_config.obligations_reserve_months }} mies</td>
            {% assign dues_reserved_obligations_total = dues_reserved_obligations_total_monthly|times: site.data.dues_config.obligations_reserve_months %}
            <td class="value">{{ dues_reserved_obligations_total }} zł</td>
        </tr>

        <tr style="font-weight: bold">
            <td class="name">Autorezerwacja (od 11 listopada 2020)</td>
            <td class="value">{{ site.data.dues.extra_monthly_reservations }} zł</td>
        </tr>

        {% assign oneoff_reservations_total = 0 %}
            {% for reservation in site.data.dues_config.reservations %}
                <tr>
                <td class="name">{{ reservation[0] }}</td>
                <td class="value">{{ reservation[1].amount_pln }} zł</td>
                {% assign oneoff_reservations_total = oneoff_reservations_total|plus: reservation[1].amount_pln %}
                </tr>
            {% endfor %}
        
        <tr style="font-weight: bold">
            <td class="name"><strong>Jednorazowe razem</td>
            <td class="value">{{ oneoff_reservations_total }} zł</td>
        </tr>

        <tr style="font-weight: bold">
            {% assign reservations_total = oneoff_reservations_total|plus: dues_reserved_obligations_total|plus: site.data.dues.extra_monthly_reservations %}
            <td class="name"><strong>Cykliczne + autorezerwacja + jednorazowe</td>
            <td class="value">{{ reservations_total }} zł</td>
        </tr>
        
        <tr>
            <td class="name">Wolne środki</td>
            <td class="value">{{ dues_total_unreserved | round: 2 }} zł</td>
        </tr>

    </tbody>
</table>

<div id="plot-podzial-bilansu-na-konta" style="width:100%;height:300px;"></div>
<script>
    plot('plot-podzial-bilansu-na-konta', {
        title: 'Podział salda na konta',
        margin: {l: 50, r: 0, b: 25, t: 50, pad: 4}
    }, [
        {
            name: 'Podział',
            type: 'pie',
            domain: {x: [0.5, 1.0], y: [0.0, 1.0]},
            values: [{% for nazwany_bilans in site.data.dues.balances_by_account_labels %}{% if forloop.first %}{% else %}, {% endif %}{{ nazwany_bilans[1] }}{% endfor %}],
            labels: [{% for nazwany_bilans in site.data.dues.balances_by_account_labels %}{% if forloop.first %}{% else %}, {% endif %}"{{ nazwany_bilans[0] }}" {% endfor %}],
        }
    ]);
</script>

{% assign ukryte="nie" %}
{% for miesiac in site.data.dues.by_period.Bilans[page.period] reversed %}
{% assign numer_miesiaca=miesiac[0] %}
<table>
    <caption>
        {{ miesiac[0] }}
    </caption>
    <thead>
        <tr>
            <th>NAZWA</th>
            <th>WARTOŚĆ</th>
        </tr>
    </thead>
    <tbody>
        
        {% for kategoria in site.data.dues.by_period %}
        {% assign suma=0 %}
        {% assign ile_podkategorii=kategoria[1][page.period][numer_miesiaca] | size %}
        {% for podkategoria in kategoria[1][page.period][numer_miesiaca] %}
        <tr>
            <td class="name">{{ kategoria[0] }}{% if ile_podkategorii > 1 and podkategoria[0] != "Suma" %}: {{ podkategoria[0] }}{% endif %}</td>
            <td class="value {% if kategoria[0] == "Wydatki" or podkategoria[1] < 0 %}negative{% endif %}">
                {% assign suma=suma | plus: podkategoria[1] %}
                {% if kategoria[0] == "Wydatki" %}-{% endif %}{{ podkategoria[1] | round: 2 }} zł
            </td>
        </tr>
        {% endfor %}
        {% assign ilosc_elementow = kategoria[1][numer_miesiaca] | size %}
        {% if ilosc_elementow > 1 %}
        <tr>
            <td class="name">{{ kategoria[0] }}: Suma</td>
            <td class="value {% if kategoria[0] == "Wydatki" %}negative{% endif %}">
                {% assign suma=suma | plus: podkategoria[1] %}
                {% if kategoria[0] == "Wydatki" %}-{% endif %}{{ suma | round: 2 }} zł
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        
    </tbody>
</table>
<br />
<!--
<div id="plot-month-2020-11" style="width:100%;height:300px;"></div>
<script>
    plot('plot-month-2020-11', {
        title: 'Dochód / Wydatki',
        margin: {l: 50, r: 0, b: 25, t: 50, pad: 4}
    }, [
        {
            name: 'Dochód',
            type: 'pie',
            domain: {x: [0.0, 0.48], y: [0.0, 1.0]},
            values: [1120.0],
            labels: ["SK\u0141ADKI"],
        }, {
            name: 'Wydatki',
            type: 'pie',
            domain: {x: [0.5, 1.0], y: [0.0, 1.0]},
            values: [1205.2, 86.15],
            labels: ["RACHUNKI: CZYNSZ", "RACHUNKI: INTERNET"],
        }
    ]);
</script>
-->
<hr/>
{% if forloop.index == 3 %}
    {% if forloop.last %}
    {% else %}
    <a href="javascript:pokazWiecej();" id="ukryjMnie">(Pokaż więcej miesięcy)</a><div style="display: none" id="ukryte">
    {% assign ukryte="tak" %}
    {% endif %}
{% endif %}

{% endfor %}

{% if ukryte=="tak" %}
</div>
{% endif %}
    
    <p>Ten dashboard jest <a href="https://finanse.hs-silesia.pl/">zerżnięty</a> od Hackerspace Silesia. Całość jest w fazie beta i może brakować niektórych wpisów, zwłaszcza po stronie kosztów.</p><p> Linki: <a href="https://wiki.hs-ldz.pl/Finanse">[Wiki]</a>, <a href="https://docs.google.com/spreadsheets/d/13wSrGyC35I6sExcASG-5LAAX1B-1KP9aOz2nt_m5Tns/edit?usp=sharing">[Symulacja]</a>, <a href="https://github.com/hakierspejs/homepage/edit/master/finanse.html">[Src]</a> </p>
