name: CI

on:
  push:
  schedule:
    - cron: '0 * * * *'

jobs:
  maybe_update_meetup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: regenerate _data/meetings.json
      run: python3.8 -m pip install meetupscraper && TZ=Europe/Warsaw python3.8 ./scripts/meetings.py && cp _data/live_meetings.json api_live_meetings.json
    - uses: stefanzweifel/git-auto-commit-action@v4.2.0
      with:
        commit_message: Autoupdate _data/meetings.json
